*{
    font-family:'Times New Roman', Times, serif;
    
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #134E5E, #71B280, #C0E8D5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
}

.calculator{
    background-color: black;
    height: 550px;
    width: 350px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0 0 15px #0005;
    

}
.display{
    /* background-color: #0005; */
    color: white;
    font-size: 2.5rem;
    /* border-radius: 10px; */
    padding: 20px;
    text-align: right;
    overflow-y: auto;
    margin-bottom: 20px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,70px);
    justify-content: center;
    gap: 15px;
    padding: 20px;
}
button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 0;
    font-size: 1.5rem;       
    border: none;
    /* background-color: rgb(73, 73, 73); */
    background-color:black;

    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}
button:hover{
    background-color: rgb(33, 32, 32);
}
.ac{
    color: rgb(154, 241, 241);
    font-size: 1.5rem;
}
.c{
    color: rgb(199, 76, 76);
    font-size: 1.9rem;
}
.equal{
    background-color: rgb(199, 131, 3);
}